.menu {
  display: flex;
  justify-content: center;
  align-items: center;

  .menu-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1000px;

    .menu-button {
      width: 500px;
      height: 40px;
      text-align: center;
      cursor: pointer;
      border-bottom: 2px solid transparent;
      border: solid blue 1px;

      a {
        color: inherit;
        text-decoration: none;
        font-weight: 500;
      }
    }
  }
}
