<div class="job-details">
  <div class="back-button">
    <button (click)="goBack()"><span class="icon-home"></span> Back</button>
  </div>
  @if( jobDetails$ | async; as jobDetails) {
    <div class="job-details-header">
      <div class="job-details-logo">
        <img [src]="jobDetails.companyLogo" alt="{{jobDetails.companyName}}">
      </div>
      <div class="job-details-info">
        <div class="job-details-title">
          <h1>{{jobDetails.companyName}} - {{jobDetails.title}}</h1>
        </div>
        <div class="job-details-industry">
          @for (category of jobCategories; track jobCategories) {
            <div class="details-industry-item" [innerHTML]="category">
            </div>
          }
        </div>
      </div>
    </div>
    <div class="job-details-body">
      <div><b>Publish date:</b> {{jobDetails.publishDate | date:'shortDate' }}</div>
      <div><b>Location:</b> {{jobDetails.location}}</div>
      <div><b>Reference: </b> {{jobDetails.reference}}</div>
      <div><b>Description:</b></div>
      <div class="job-description">
        <div [innerHTML]="jobDetails.description"></div>
      </div>
    </div>
  } @else {
    <p>Job Not Found...</p>
  }
</div>
