<div class="job-details">
  <div class="back-button">
    <button><span class="icon-home"></span> Back</button>
  </div>
  <div class="job-details-header">
    <div class="job-details-logo">
      <img src="https://interstate21.com/job-search-app/scroll-io.jpg" alt="Scroll.io">
    </div>
    <div class="job-details-info">
      <div class="job-details-title">
        <h1>Scroll.io - People Operations Manager (Chinese / English)</h1>
      </div>
      <div class="job-details-industry">
        <div class="details-industry-item">
          full-time
        </div>
        <div class="details-industry-item">
          HR &amp; Recruiting
        </div>
      </div>
    </div>
  </div>
  <div class="job-details-body">
    <div><b>Publish date:</b> 2/24/24</div>
    <div><b>Location:</b> EMEA,  Europe</div>
    <div><b>Reference: </b> 75278-people-operations-specialist-chinese-and-english</div>
    <div><b>Description:</b></div>
  </div>
</div>
